.message_area{
    padding: 20px;
}
.soket_io{
    display: flex;
    flex-direction: column-reverse;
    /* padding: 20px 0; */
  
   
}
.messages_continer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: calc(100vh - 205px);
    
    /* overflow-y: scroll;
    overflow-x: hidden; */
}