.sidebar{
    background-color: #474F5C;
    width: 260px;
    color: #E8F2F7;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
   padding-bottom: 20px;
}
/* .sidebar::-webkit-scrollbar {
    width: 1em;
    background-color: #474F5C;
    outline: 5px solid white;
} */
/* .sidebar::-webkit-scrollbar {
    width: 14px;
}
 
.sidebar::-webkit-scrollbar-thumb {
  background-color:rgba(80, 45, 123, 0.2);
  outline: 1px solid #474F5C;
  height: 300px;
 margin-top: 4px;
}
.sidebar:hover .sidebar::-webkit-scrollbar-thumb{
    background-color: gainsboro;
} */

.sidebar_header{
    display: flex;
    white-space: nowrap;
    height: 64px;
    align-items: center;
    padding-left: 17px;
    
}
.sidebar_info{  
    flex:1;
}
.sidebar_info >h2{
    font-size: 15px;
    font-weight: 900;
   
}
.sidebar_info > h3{
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
}
.sidebar_info > h3>.MuiSvgIcon-root{
    font-size: 14px;
    color:#74BA2C;
    margin-top: 1px;
    margin-right: 2px;

}
.sidebar_header >.MuiSvgIcon-root{
    padding: 8px;
    font-size: 18px;
    background-color:floralwhite;
    color: black;
    border-radius: 30px;
}
