.sidebar{
    background-color: #474F5C;
    width: 260px;
    color: #E8F2F7;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 20px;
    scrollbar-width: thin; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    margin-top: 64px;
}
.sidebar:hover.sidebar::-webkit-scrollbar-thumb{
    background-color: #acacac;
} 
.sidebar::-webkit-scrollbar {
    width: 8px !important;
    background-color: transparent;
}
 
.sidebar::-webkit-scrollbar-thumb {
    background-color: #474F5C;
    opacity: 1;
    margin-left: 2px;
    border-radius: 5px;
}
.sidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: none !important;
    background-color: transparent !important;
  }

.sidebar_header{
    display: flex;
    white-space: nowrap;
    height: 63px;
    width: 260px;
    align-items: center;
    /* padding-left: 17px; */
    position: fixed;
    border-bottom: 1px solid #D4EAF5;
    z-index: 100;
    background-color:#474F5C ;
    top: 0;
    
}

.sidebar_info{  
    flex:1;
}
.sidebar_info >h2{
    font-size: 15px;
    font-weight: 900;
    margin-left: 18px;
}
.sidebar_info > h3{
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
}
.sidebar_info > h3>.MuiSvgIcon-root{
    font-size: 14px;
    color:#74BA2C;
    margin-top: 1px;
    margin-right: 2px;

}
.sidebar_header >.MuiSvgIcon-root{
    padding: 8px;
    font-size: 18px;
    background-color:floralwhite;
    color: black;
    border-radius: 30px;
}
