$color-active-status: #73CA1A;
$side-menu-background: #EDF4F6;
$info-border-color: #A1CEDB;
$side-menu-header-background: rgba(215,230,235, 0.3);
$header-background-color: #F6FAFB;
$header-input-background: #DAE4E7;
$hover-background-color: #B0DAE6;
$channel-hover-background: #DBECF1;
$sender-message-container: #D1F2FB;
$sender-message-container-RGBA: rgba(209, 242, 251, 0.5);
$selected-user-background: #00A3E3;
$sender-background-color: #EDF5F7;
$color-white: #FFFFFF;
$ck-button-color: #313E41;
$side-bar-shadow: rgba(176, 218, 229, 0.5);
$tooltip-link-color: #4F5153;
$tooltip-link-color: #4F5153;
$tooltip-link-background-color: #EDF4F6;
$tooltip-link-editButton-border: #00B8E6;
$tooltip-link-removeButton-color: #E6361F;
$white: #FFFFFF;
$code-color: #e01e5a