.users_div{
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.users_div >span>h3{
    width:160px;
}
.users_continer{
    padding: 10px 0px;
}
.user{
    display: flex;
    align-items: center;
    padding: 6px 15px;
    
};
.channel>p{
    font-size: 15px;
    font-family: Slack-Lato, appleLogo, sans-serif;
}
.user:hover{
    background-color: #303946;
    color:#E8F2F7 ;
}

.user_icon{
    margin-right: 10px;
}
.add_user{
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin: 5px;

}
.add_user:hover{
    background-color: #303946;
    color:#E8F2F7 ;
}
.add_user>h3{
    margin-left: 10px;
}