.messege_continer{
    display: flex;
   flex-direction: column;
    padding: 0 15px;
    margin: 15px 25px;
    font-family: 'MyFont';
    font-weight: 400;
    
}
.user_iconDiv{
    width: 56px;
    height:56px; 
    border-radius: 50%;
    /* border: 3px solid #B0DAE5; */
} 
.massage_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #313E41;
    width: 100%;
    margin-left: 12px;
    font-size: 22px;
    padding: 15px 0;
}
 /* p p:last-of-type .massage_text{
     background-color: red;
 } */
.massage_text >p:last-child{
   display: none;
  }
  
/* .messege_continer:hover{
    background-color: rgb(241, 238, 238);
} */
.massegeText_continer{
display: flex;
color: #474F5C;
margin-top: 10px;
align-items: flex-start;
padding:5px 15px;
background-color: #D1F2FB; 
border-radius: 13px;
}
.massage_text>p{
    max-width: 100%;
    word-break: break-all;
}
.ckEditor-continer{
    
   
    position: fixed;
    /* width:calc(100vw - 245px); */
    bottom: 0;
    width: calc(100% - 320px);
    bottom: 0;
    padding: 0px 20px 20px 20px;
    display: flex;
    justify-content: center;  
}
.ckEditor{
    width: 100%;
}
/* .massage_text > p >br{
    display: none;
} */
.sender-info{
    display: flex;
    align-items: center;
}
.time{
    margin-left: 23px;
    font-size: 15px;
    color: #313E41;
}
.sender-name{
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
}
.UserIcon-message{
    width: 56px;
    height: 56px;
    border-radius: 50%;  
}
.massage_text >p{
    text-align: left;
}

.messege_continer-2{
    display: flex;
    flex-direction: column;
     padding: 0 15px;
     margin: 10px 25px;
     font-family:  MyFont;
     font-weight: 400;
}
.sender-info-2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.massegeText_continer-2{
display: flex;
color: #474F5C;
margin-top: 10px;
align-items: flex-start;
padding: 20px 15px;
background-color:#EDF5F7;
border-radius: 13px;
justify-content: flex-end;
font-family: 'MyFont';
}
.massage_text-2 >p:last-child{
    display: none;  
   }
   .time-2{
    margin-right: 10px;
    font-size: 15px;
    color: #313E41;
}
.massage_text-2 >p{
    text-align: right;
    font-size: 22px;
}
.sender-name-2{
    font-size: 20px;
    margin-right: 23px;
    font-weight: bold;
}
.time-continer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 40px;
    height: 35px;
    color:#313E41;
    background-color: rgba(235,247,251,0.4);
    /* padding: 9px 0; */
    border-radius: 10.5px;
    box-shadow: 0 4px 4px 0 rgba(186, 202, 206, 0.4);
}
.data-block{
    display: flex;
    align-items: center;
    justify-content: center;
     width: 36%;
     height:35px;
     background-color: #FFFFFF;
     border: 1px solid #EDF5F7;
     box-sizing: border-box;
      border-radius: 6px;
      text-align: center;
      align-items: center;
}