@import "../../../assets/variables.scss";

.editor {
  margin: 0 32px 16px 38px;
  display: flex;
  position: relative;
  
  .quillEditor-wrapper {
    border: 2px solid #B0DAE6;
    border-right-style: none;
    border-radius: 13px 0 0 13px;
    flex-grow: 1;
  }
  
}

.send_button {
  width: 60px;
  background-color: $header-background-color;
  border: 2px solid $hover-background-color;
  border-left-style: none;
  border-radius: 0px 13px 13px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex: 0 0 61px;

  &_img {
    width: 20px;
    height: 20px;
  }
}

:host {
  ::ng-deep .ql-toolbar {
    background-color: $sender-message-container-RGBA;
    box-shadow: inset 4px 4px 4px 4px rgba(217, 233, 238, 0.2);
    border-radius: 13px 0 0px 0px !important;
    border: 2px solid $hover-background-color;
    border-bottom-style: none;
    border-right-style: none
  }

  ::ng-deep .ql-container {
    border: 2px solid $hover-background-color;
    border-right-style: none;
    border-top-style: none;
    border-radius: 0 0 0 13px;
    overflow: auto;
    height: initial;
    max-height: 240px;
  }
  
  ::ng-deep .ql-formats>button {
    color: $ck-button-color;
  }

  ::ng-deep .ql-editor::-webkit-scrollbar {
    width: 8px;
    border-radius: 4px;
  }
   
  ::ng-deep .ql-editor::-webkit-scrollbar-track {
    display: none;
  }
   
  ::ng-deep .ql-editor::-webkit-scrollbar-thumb {
    background-color: rgba($color: #000000, $alpha: 0.1);
    border-radius: 4px;
  }

  ::ng-deep .ql-toolbar {
    padding-left: 12px;
  }

  ::ng-deep .ql-editor {
    word-break: break-word;
    font-size: 16px;

    p>img {
      display: none;
    }
  }

  ::ng-deep .ql-link {
    margin-right: 5px;
  }

  ::ng-deep .ql-image {
    margin-right: 5px;
  }

  ::ng-deep .ql-container{
    // TODO fix
    overflow: visible;
  }

  ::ng-deep .ql-container.ql-snow {
    border: none;
    overflow: visible !important
  }

  ::ng-deep .ql-toolbar {
    border: none;
  }

  // TODO
  // ::ng-deep .ql-tooltip.ql-flip {
  //   left: 169px !important;
  //   top: -69px !important;
  //   border-radius: 14px;
  //   background-color: $tooltip-link-background-color;
  //   border: unset;

  //   &:after {
  //     border-style: solid;
  //     border-color: transparent transparent $tooltip-link-background-color transparent;
  //     border-width: 0px 0 73px 21px;
  //     content: "";
  //     position: absolute;
  //     left: -10px;
  //     top: 10px;
  //   }

  //   &::before {
  //     content: none;
  //   }

  // }

  ::ng-deep .ql-preview {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: $tooltip-link-color;
    margin-right: 26px;
    padding: 24px 60px 24px 0;
    position: relative;
  }

  ::ng-deep .ql-action{
    border: 1px solid $tooltip-link-editButton-border;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 0 8px;
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    right: 12px;
    top: 12px;
    min-width: 60px;
    text-align: center;

    &:after{
      padding-right: 0 !important;
      border-right: 0 !important;
      margin-left: 0 !important;
    }
  }

  ::ng-deep .ql-remove {
    padding: 0 8px;
    color: $white;
    background-color: $tooltip-link-removeButton-color;
    border-radius: 2px;
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    right: 12px;
    top: 44px;
    text-align: center;
    min-width: 60px;

    &::before{
      margin-left: 0 !important;
    }
  }

  ::ng-deep .ql-snow .ql-editor pre.ql-syntax {
    padding: 2px 3px 1px;
    border: 1px solid var(--saf-0);
    border-radius: 3px;
    background-color: rgba(var(--sk_foreground_min,29,28,29),.04);
    color: #e01e5a;
    overflow: visible;
    display: inline-block;
  }

  ::ng-deep .ql-container.ql-snow {
    overflow-y: scroll;
  }

  
  ::ng-deep .ql-container.ql-snow::-webkit-scrollbar {
    width: 8px;
    border-radius: 4px;
  }
  
  ::ng-deep .ql-container.ql-snow::-webkit-scrollbar-track {
    display: none;
  }
  
  ::ng-deep .ql-container.ql-snow::-webkit-scrollbar-thumb {
    background-color: rgba($color: #000000, $alpha: 0.1);
    border-radius: 4px;
  }

}

.file_upload_icon {
  background: transparent;
  position: absolute;
  top: 9px;
  right: 70px;
  cursor: pointer;
  
  &:hover svg {
    fill: #06c;
  }
}

.uploadedFile {
  width: 62px;
  height: 62px;
  border-radius: 6px;
  position: relative;
  padding: 12px 14px;
  box-sizing: content-box;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
  }

  &:hover .deleteFile {
    opacity: 1;
    &:hover {
      opacity: 0.8;
    }
  }

  .deleteFile {
    width: 14px;
    height: 14px;
    opacity: 0;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    transition: opacity 0.4s ease;
  }
}

::ng-deep #emoji-palette {
  bottom: 90px;
  top: inherit !important;
  left: 20vh !important;
}

::ng-deep .ql-tooltip input[type=text]{
  margin: 8px 70px 8px 0 !important;
}

::ng-deep .emoji_completions {
  top: -130px !important;
}

::ng-deep .ql-flip {
  z-index: 1; 
}

.tooltipPostion {
  ::ng-deep .ql-flip {
    left: 0 !important;
  }
}