@import "../../../assets/variables.scss";

.editor {
  padding: 0 12px 12px;
  display: flex;
  
  .ckEditor {
    flex-grow: 1;
  }
  // width: calc(100% - 282px);
  // position: fixed;
  // bottom: 0;
}

.send_button {
  width: 104px;
  background-color: $header-background-color;
  border: 2px solid $hover-background-color;
  border-left-style: none;
  border-radius: 0px 13px 13px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex: 0 0 104px;

  &_img {
    width: 32px;
    height: 32px;
  }
}

:host {
  ::ng-deep .ck.ck-toolbar.ck-toolbar_grouping {
    background-color: $sender-message-container-RGBA;
    box-shadow: inset 4px 4px 4px 4px rgba(217, 233, 238, 0.2);
    border-radius: 13px 0 0px 0px !important;
    border: 2px solid $hover-background-color;
    border-bottom-style: none;
    border-right-style: none
  }

  ::ng-deep .ck-editor__main {
    border: 2px solid $hover-background-color;
    border-right-style: none;
    border-top-style: none;
    border-radius: 0 0 0 13px;
    overflow: auto;
    max-height: 240px;
  }

  ::ng-deep .ck-editor__editable {
    border: none;
  }

  ::ng-deep .ck-focused{
    border: none !important;
    box-shadow: none !important;
  }
  
  ::ng-deep .ck-button {
    color: $ck-button-color;
  }

  ::ng-deep .ck-editor__main::-webkit-scrollbar {
    width: 8px;
    border-radius: 4px;
  }
   
  ::ng-deep .ck-editor__main::-webkit-scrollbar-track {
    display: none;
  }
   
  ::ng-deep .ck-editor__main::-webkit-scrollbar-thumb {
    background-color: rgba($color: #000000, $alpha: 0.1);
    border-radius: 4px;
  }

}