<div class="editor">
  <div class="quillEditor-wrapper" id="wrapper">
    <quill-editor
      class="quillEditor"
      id="editorId"
      (paste)="onPaste()"
      (onBlur)="onBlur()"
      (onFocus)="onFocus()"
      (keydown)="onKeyDown($event)"
      [(ngModel)]="message" #editor
      (onEditorCreated)="setFocus($event)"
      [ngClass]="{tooltipPostion: tooltipFromLeft}">
    </quill-editor>
    <div class="d-flex">
      <div
        class="uploadedFile" id="uploadedFile"
        *ngFor="let src of filePaths;
        let i = index">
        <img [src]="sanitizer.bypassSecurityTrustUrl(src)" alt="" class="w-100 h-100">
        <img src="../../../assets/icons/icon_x.svg"
             class="deleteFile"
             alt=""
             (click)="deleteMessage(i)">
      </div>
    </div>
  </div>
  <form [formGroup]="formData">
    <label for="uploadFile" class="file_upload_icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
        <path
          d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z" />
      </svg>
    </label>
    <input
      class="d-none"
      type="file"
      name="MAX_FILE_SIZE"
      value="10485760"
      accept="image/png, image/jpg, image/jpeg, image/svg+xml"
      name="uploadFile" multiple
      id="uploadFile"
      (change)="uploadFile($event.target.files)"
      (click)="$event.target.value = null">
  </form>
  <div
    class="send_button" id="sendButton"
    (click)="onKeyDown()">
    <img src="../../../assets/icons/send_button.svg" class="send_button_img" id="sendButtonImg">
  </div>
  <!-- <div class="loader">
    <div class="spinner-border" role="status">
    </div>
  </div> -->
</div>
<div
  *ngIf="canNotUploadFile"
  class="helpMessage pl-5">
  Maximum upload file size: 10 MB
</div>

