@import "../../../assets/variables.scss";

.title_part {
  margin-top: 45px;
  cursor: pointer;

  .title{
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
  }

  .msg_arrow{
    width: 16px;
    height: 10px;
    margin-right: 10px;
    margin-left: 30px;
    margin-bottom: 7px;
  }

}

.user_part {
  cursor: pointer;

  .single_user {
    padding: 7px 30px;
    height: 40px;
    position: relative;

    .user_image_block{
      position: relative;

      .user_icon {
        width: 24px;
        height: 24px;
        margin-right: 17px;
        border-radius: 50%;
        object-fit: cover;
      }

      .status {
        width: 9px;
        height: 9px;
        border-radius: 50%;
        border: 1px solid $color-white;
        margin-right: 9px;
        position: absolute;
        right: 6px;
        bottom: -3px;

        &_inactive {
          background-color: $color-inactive-status;
        }
         &_active {
          background-color: $color-active-status;
         }
      }
    }


    .user_name {
      font-family: 'Proxima';
      font-size: 18px;
      line-height: 23px;
      margin-top: 15px;
      white-space: nowrap;
      width: 160px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &_message_count {
      width: 27px;
      height: 20px;
      border-radius: 50%;
      margin-left: 2px;
      background-color: $new-message-count-color;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotate(-51.5deg);

      & p {
        color: $white;
        transform: rotate(51deg);
      }
    }

    &_fullName {
      display: none;
    }

    &_fullName_top {
      display: none;
    }
  }

  .single_user:hover {
    background-color: $hover-background-color;
    .single_user_fullName {
      display: block;
      transition: 2s;
      position: absolute;
      color: $userName-hover-color;
      font-size: 14px;
      line-height: 16px;
      padding: 8px 46px;
      background-color: $userName-hover-background;
      border-radius: 6px;
      bottom: 36px;
      right: 2px;
      &::after {
        content: "";
        width: 0;
        height: 0;
        border-width: 10px 10px 0 10px;
        border-color: $white transparent transparent transparent;
        border-style: solid;
        position: absolute;
        bottom: -7px;
        right: 28px;
      }
    }
  }

  .single_user_fullName_top {
    display: block;
    transition: 2s;
    position: absolute;
    color: $userName-hover-color;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 46px;
    background-color: $white;
    border-radius: 6px;
    bottom: -36px;
    z-index: 1;
    right: 2px;
    &::after {
      content: "";
      width: 0;
      height: 0;
      border-width: 0 10px 10px 10px;
      border-color:  transparent transparent $white transparent;
      border-style: solid;
      position: absolute;
      right: 28px;
      bottom: 30px;
    }
  }

  .selectedUser {
    background-color: $selected-user-background;
    p {
      color: $white;
    }
  }

  .selectedUser:hover {
    background-color: $selected-user-background;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: $tooltip-link-editButton-border;

}

.searchMod {
  padding: 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  input {
    background-color: $input-color;
    border: 2px solid $hover-background-color;
    border-radius: 7px;
    height: 31px;
    &:focus {
      border: 2px solid $hover-background-color !important;
      box-shadow: 2px 2px 5px $hover-background-color;
    }
  }

  i {
    position: absolute;
    background: url('../../../assets/icons/search_icon.svg') no-repeat 97% 50%;
    width: 20px;
    height: 20px;
    padding-right: 10px;
    margin-top: 3px;
  }
}


