.channels{
 border-top: 1px solid grey;
 padding-top: 10px;
 padding-bottom: 12px;
}
.chanels_div{
    padding: 5.5px;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-family: Slack-Lato, appleLogo, sans-serif;
    font-weight: 500;
}
.chanels_div:hover{
    /* background-color: #303946;
    color:#b5c1c4 ; */
    cursor: pointer;
}
.chanels_div:hover .AddCircleIcon_channel{
    display:inline-block
}
.AddCircleIcon_channel{
    display: none;
    margin-left: 97px;
    width: 22px;
    height: 22px;
}
.chanels_div >span>h3{
    width:160px;
}
/* .AddCircleIcon{
    display: none;
} */
.channels_continer{
    padding: 0px 0px;
}

.channel{
    display: flex;
    align-items: center;
    padding: 5.5px 25px;
    font-size: 15px;
    font-family: Slack-Lato, appleLogo, sans-serif;
    

}
.selected{
    background-color:#00a3e3;
    color: whitesmoke;
   
}
.channel:hover{
    background-color: #303946;
    color:#b5c1c4 ;
    cursor: pointer;
}
.channel_icon{
    margin-right: 5px;
    color: #E8F2F7;
}
.channel_icon >path{
    height: 20px !important;
    width: 20px !important;

}
.add_channel{
    display: flex;
    align-items: center;
    padding: 4px 25px;
    font-size: 15px;
    font-family: Slack-Lato, appleLogo, sans-serif;
}
.add_channel:hover{
    background-color: #303946;
    color:#b5c1c4 ;
    cursor: pointer;
}
.add_channel>p{
    margin-left: 5px;
}
.add_channel>svg{
    width: 20px;
    height: 20px;
}
.create-channel-modal{
    width: 500px;
    height: 300px;
    background-color: white;
    margin: 200px auto;
    padding: 30px;
}
.create-channel-modal >p{
    margin-bottom: 20px;
    
}
.arrow{
    width: 20px !important;
    height: 20px !important;
    margin-left: 10px;
    margin-right: 7px;
    margin-top: 4px;
}
.channel >p{
    margin-left: 6px;
}
.channels-before{
    width: 20px;
    height: 20px;
    /* margin-left: 5px; */
    /* font-family: Slack v2; */
    /* font-size: 20px; */
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    margin-right: 7px;
}