.channels{
 border-top: 1px solid whitesmoke;
 padding-top: 10px;
 padding-bottom: 10px;
}
.chanels_div{
    padding: 8px;
    display: flex;
    align-items: center;
    
}
.AddCircleIcon{
    margin-left: 10px;
}
.chanels_div >span>h3{
    width:160px;
}
.channels_continer{
    padding: 0px 0px;
}

.channel{
    display: flex;
    align-items: center;
    padding: 6px 15px;
    font-size: 15px;
    font-family: Slack-Lato, appleLogo, sans-serif;

}
.selected{
    background-color:#00a3e3;
    color: whitesmoke;
   
}
.channel:hover{
    background-color: #303946;
    color:#b5c1c4 ;
    cursor: pointer;
}
.channel_icon{
    margin-right: 10px;
}
.add_channel{
    
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin: 5px;
    
}
.add_channel:hover{
    background-color: #303946;
    color:#b5c1c4 ;
}
.add_channel>h3{
    margin-left: 10px;
}
.create-channel-modal{
    width: 500px;
    height: 300px;
    background-color: white;
    margin: 200px auto;
    padding: 30px;
}
.create-channel-modal >p{
    margin-bottom: 20px;
}